body{
    margin: 0px;
    padding: 0px;
    background-color: #000;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
}
.bubbles{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
    transform: translateZ(0);
}

.bubbles li{
    position: absolute;
    list-style: none;
    display: block;
    bottom: -100px;
    background-color: rgba(255,255,255,0.15);
    animation: square 200ms infinite;
    transition-timing-function: linear;
}
.bubbles li:nth-child(1){
    width: 40px;
    height: 40px;
    left: 20%;
     animation-delay: 0s;
    animation-duration: 20s;
}
.bubbles li:nth-child(2){
    width: 60px;
    height: 60px;
    left: 30%;
    animation-delay: 2s;
    animation-duration: 17s;
}
.bubbles li:nth-child(3){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-delay: 4s;
    animation-duration: 10s;
}
.bubbles li:nth-child(4){
    width: 50px;
    height: 50px;
    left: 60%;
    animation-delay: 0s;
    animation-duration: 20s;
}
.bubbles li:nth-child(5){
    width: 25px;
    height: 25px;
    left: 80%;
    animation-delay: 6s;
    animation-duration: 18s;
}
.bubbles li:nth-child(6){
    width: 60px;
    height: 60px;
    left: 90%;
    animation-delay: 3s;
    animation-duration: 10s;
}
@keyframes square{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-700px) rotate(630deg);
    }
}