body{
	margin: 0px;
	padding: 0px;
}
.spinner{
	width: 100px;
	height: 100px;
	background: #d5d5d5;
	position: relative;
	border-radius: 50%;
	margin:200px 250px;
	border:5px solid transparent;
	border-top-color: red;
	border-bottom-color: red;
	animation: spinny 1s linear infinite;
}
@keyframes spinny{
	0%{
		transform: rotate(0deg) scale(1);
	}
	50%{
		transform: rotate(45deg) scale(1.2);
	}
	100%{
		transform: rotate(360deg) scale(1);
	}
}
/*.spinner:after,.spinner:before{
	width: 100px;
	height: 100px;
	border-radius: 50%;
    content: '';
    display: block;
}
.spinner-1{
	background: pink;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
}*/
.spinner-2{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: grey;
	margin-left: 540px;
	margin-top: -300px;
	animation: spinn 2s linear infinite;
}
@keyframes spinn{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
.small{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: red;
	animation: bounce 0.5s ease-in-out infinite;
}
@keyframes bounce{
	0%{
		transform: translateY(0px);
	}
	50%{
		transform: translateY(30px);
	}
	100%{
		transform: translateY(0px);
	}
}
#small-1{
	margin-left: 40px;
	/*margin-top: -90%;*/
}
#small-2{
	margin-left: 40px;
	margin-top: 60%;
}
.spinner-3{
	background:transparent;
	border:5px solid #000;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-top: 100px;
	margin-left: 250px;
}
.span{
	width: 5px;
	height: 80px;
	background: red;
	margin-left: 45px;
	margin-top: 50%;
	transform-origin: top;
	animation: rot 2s ease-in-out infinite;
}
@keyframes rot{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}